{% extends "bootstrap/base.html" %}

{% block title %}
History
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Smart Farm Poultry</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="#">Changes</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{{ url_for('history') }}">History<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Farms</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Active</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>
                {% for row in data %}
                    <tr>
                        <td><a href="/history_{{row['id']}}">{{row['id']}}</a></td>
                        <td>{{row['active']}}</td>
                        <td>{{row['last_update']}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}